In [1]:
import pandas as pd

### Series (=python의 리스트)

In [2]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [3]:
pd_odd = pd.Series(odd)
pd_odd

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [4]:
odd.mean()

AttributeError: 'list' object has no attribute 'mean'

In [5]:
pd_odd.mean()

5.0

### DataFrame (=Excel Data)

In [6]:
numbers = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]

numbers = pd.DataFrame(numbers)
numbers

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
url = "https://bit.ly/dsa-01-order"

order = pd.read_csv(url)
order

   id  user_id  product_id        date  price  address      state
0   1        3           9  2017-01-01    500    Seoul  confirmed
1   2        1           7  2017-01-03    700    Seoul  confirmed
2   3        3           8  2017-01-03    900  Daejeon  confirmed
3   4        4           2  2017-01-07    500      NaN   canceled
4   5        7           3  2017-01-09    700  Incheon  confirmed
5   6        5           7  2017-01-09    600    Busan   canceled
6   7        2           5  2017-01-10    200      NaN   canceled