In [1]:
import pandas as pd

pd.options.display.max_columns = 100

In [2]:
raw_log = pd.read_csv("~/Downloads/kmong/data/kmong-conversion.csv")

print(raw_log.shape)

raw_log.head()

(434244, 19)

,eventcategory,isfirstactivity,apppackagename,appversion,devicetype,devicemanufacturer,osversion,canonicaldeviceuuid,sourcetype,channel,params_campaign,params_medium,params_term,inappeventcategory,inappeventlabel,eventdatetime,rowuuid,isfirstgoalactivity,event_rank
0,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957,unattributed,unattributed,NaN,NaN,NaN,home.view,NaN,2018-09-28T00:00:00+09:00,fd2a188c-bc9b-4702-9c47-b546b2614817,False,True
1,goal,False,com.kmong.kmong,3.3.5,SM-N935S,samsung,Android7.0,8a871e50-0717-4aed-9bad-04ac3c3793be,unattributed,unattributed,NaN,NaN,NaN,gig_detail.view,41201.0,2018-09-28T00:00:00+09:00,e62dccef-dd70-4415-8a33-c8324ddaed38,False,True
2,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS12.0,A9E5778A-8F3D-4597-9718-74BF953A9F64,unattributed,unattributed,NaN,NaN,NaN,inbox_detail.view,NaN,2018-09-28T00:00:00+09:00,14eb3197-db83-493a-b7be-83582960c40b,False,True
3,foreground,NaN,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,168761CB-CB67-4592-867D-52780D651297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-28T00:00:01+09:00,f9bb91af-248b-44dc-9f5c-1c00b37ea97b,NaN,True
4,goal,False,com.kmong.iOS,4.0.4,iPhone,Apple,iOS11.4.1,ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D,viral,WEB,NaN,NaN,NaN,buyer_order_track.view,NaN,2018-09-28T00:00:02+09:00,236e9946-7801-4898-b609-06c8ab1139dc,False,True

In [3]:
raw_funnel = pd.read_csv("~/Downloads/kmong/data/kmong-funnel.csv")

print(raw_funnel.shape)

raw_funnel.head()

(53, 6)

    Lv2         viewid  viewid desc  Lv1 funnel name funnel desc
0  1100           home        홈 (탭)   11        home           홈
1  1210  category_list  카테고리 목록 (탭)   12    category        카테고리
2  1200   category_gig    카테고리-상품목록   12    category        카테고리
3  1300         search           검색   13      search          검색
4  1301     search_gig      검색-상품목록   13      search          검색

In [4]:
raw_category = pd.read_csv("~/Downloads/kmong/data/kmong-category.csv")

print(raw_category.shape)

raw_category.head()

(245, 9)

,depth,categoryid,categoryname,cat1_id,cat2_id,cat3_id,cat1,cat2,cat3
0,1,1,디자인,1,NaN,NaN,디자인,NaN,NaN
1,1,2,마케팅,2,NaN,NaN,마케팅,NaN,NaN
2,1,3,번역·통역,3,NaN,NaN,번역·통역,NaN,NaN
3,1,4,문서작성,4,NaN,NaN,문서작성,NaN,NaN
4,1,6,IT·프로그래밍,6,NaN,NaN,IT·프로그래밍,NaN,NaN

### 데이터 정리하기

In [5]:
len(raw_log["canonicaldeviceuuid"])

434244

In [6]:
raw_log["userid"] = raw_log["canonicaldeviceuuid"]

raw_log[["canonicaldeviceuuid", "userid"]].head()

                    canonicaldeviceuuid                                userid
0  F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957  F36FAA62-ADAC-4AA5-9B00-1FD6CB7EE957
1  8a871e50-0717-4aed-9bad-04ac3c3793be  8a871e50-0717-4aed-9bad-04ac3c3793be
2  A9E5778A-8F3D-4597-9718-74BF953A9F64  A9E5778A-8F3D-4597-9718-74BF953A9F64
3  168761CB-CB67-4592-867D-52780D651297  168761CB-CB67-4592-867D-52780D651297
4  ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D  ACABB7C0-4C76-413A-B314-E5D6DA0D0E5D

In [7]:
raw_log["eventdatetime"] = pd.to_datetime(raw_log["eventdatetime"])

raw_log.dtypes

eventcategory                                         object
isfirstactivity                                       object
apppackagename                                        object
appversion                                            object
devicetype                                            object
devicemanufacturer                                    object
osversion                                             object
canonicaldeviceuuid                                   object
sourcetype                                            object
channel                                               object
params_campaign                                       object
params_medium                                         object
params_term                                           object
inappeventcategory                                    object
inappeventlabel                                      float64
eventdatetime          datetime64[ns, pytz.FixedOffset(540)]
rowuuid                                               object
isfirstgoalactivity                                   object
event_rank                                              bool
userid                                                object
dtype: object

In [8]:
raw_log["eventdatetime_year"] = raw_log["eventdatetime"].dt.year
raw_log["eventdatetime_month"] = raw_log["eventdatetime"].dt.month
raw_log["eventdatetime_day"] = raw_log["eventdatetime"].dt.day
raw_log["eventdatetime_hour"] = raw_log["eventdatetime"].dt.hour
raw_log["eventdatetime_minute"] = raw_log["eventdatetime"].dt.minute
raw_log["eventdatetime_second"] = raw_log["eventdatetime"].dt.second

print(raw_log.shape)

raw_log[["eventdatetime", "eventdatetime_year", "eventdatetime_month", "eventdatetime_day", "eventdatetime_hour", "eventdatetime_minute", "eventdatetime_second"]].head()

(434244, 26)

,eventdatetime,eventdatetime_year,eventdatetime_month,eventdatetime_day,eventdatetime_hour,eventdatetime_minute,eventdatetime_second
0,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
1,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
2,2018-09-28 00:00:00+09:00,2018,9,28,0,0,0
3,2018-09-28 00:00:01+09:00,2018,9,28,0,0,1
4,2018-09-28 00:00:02+09:00,2018,9,28,0,0,2

In [9]:
def find_ostype(osversion):
    if "iOS" in osversion:
        return 'iOS'
    else:
        return 'Android'

In [10]:
find_ostype("iOS11.4.1")

'iOS'

In [11]:
find_ostype("Android7.0")

'Android'

In [12]:
def find_osversion(osversion):
    return osversion.replace("iOS", "").replace("Android", "")

In [13]:
find_osversion("iOS11.4.1")

'11.4.1'

In [14]:
find_osversion("Android7.0")

'7.0'

In [15]:
raw_log["ostype(clean)"] = raw_log["osversion"].apply(find_ostype)
raw_log["osversion(clean)"] = raw_log["osversion"].apply(find_osversion)

raw_log[["osversion", "ostype(clean)", "osversion(clean)"]].head()

    osversion ostype(clean) osversion(clean)
0   iOS11.4.1           iOS           11.4.1
1  Android7.0       Android              7.0
2     iOS12.0           iOS             12.0
3   iOS11.4.1           iOS           11.4.1
4   iOS11.4.1           iOS           11.4.1

In [16]:
raw_log.loc[raw_log["osversion"].str.contains("iOS"), "ostype(clean)"] = "iOS"

raw_log.loc[raw_log["osversion"].str.contains("Android"), "ostype(clean)"] = "Android"

raw_log["osversion(clean)"] = raw_log["osversion"].str.replace("iOS|Android", "")

raw_log[["osversion", "ostype(clean)", "osversion(clean)"]].head()

    osversion ostype(clean) osversion(clean)
0   iOS11.4.1           iOS           11.4.1
1  Android7.0       Android              7.0
2     iOS12.0           iOS             12.0
3   iOS11.4.1           iOS           11.4.1
4   iOS11.4.1           iOS           11.4.1

In [17]:
raw_log["devicemanufacturer"].value_counts()

samsung           230313
Apple             163566
LGE                32565
Xiaomi              3688
Foxconn             1248
PANTECH              706
HUAWEI               615
Google               417
Sony                 378
BlackBerry           185
TCL                  138
vivo                 122
LG Electronics        84
HOMTOM                60
OPPO                  34
asus                  28
CUBOT                 17
Huawei                17
ZUK                   15
HTC                   15
blackberry            13
SHARP                 12
UMIDIGI                8
Name: devicemanufacturer, dtype: int64

In [18]:
def clean_devicemanufacturer(devicemanufacturer):
    
    if "samsung" in devicemanufacturer:
        return "Samsung"
    
    elif "LGE" in devicemanufacturer:
        return "LG"

    elif "LG Electronics" in devicemanufacturer:
        return "LG"
    
    elif "Apple" in devicemanufacturer:
        return "Apple"
    
    else:
        return "Other"

In [19]:
raw_log["devicemanufacturer(clean)"] = raw_log["devicemanufacturer"].apply(clean_devicemanufacturer)

print(raw_log.shape)

raw_log["devicemanufacturer(clean)"].value_counts()

(434244, 29)

Samsung    230313
Apple      163566
LG          32649
Other        7716
Name: devicemanufacturer(clean), dtype: int64

In [20]:
raw_log["devicemanufacturer(clean)"] = raw_log["devicemanufacturer"].replace("samsung", "Samsung") \
                                                                    .replace("LGE", "LG") \
                                                                    .replace("LG Electronics", "LG")


raw_log.loc[~raw_log["devicemanufacturer(clean)"].isin(["Apple", "Samsung", "LG"]), "devicemanufacturer(clean)"] = "Others"

print(raw_log.shape)

raw_log["devicemanufacturer(clean)"].value_counts()

(434244, 29)

Samsung    230313
Apple      163566
LG          32649
Others       7716
Name: devicemanufacturer(clean), dtype: int64

In [21]:
import numpy as np

# 채널(channel) 컬럼에 있는 값을 정리해주는 clean_channel이라는 함수를 정의합니다.
def clean_channel(channel):
    # 만일 channel 값에 비어있는 값(NaN)이 들어가 있으면
    if pd.isnull(channel):
        # 아무런 처리도 하지 않고 그대로
        # 비어있는 값(NaN)으로 반환해줍니다.
        return np.nan

    # 만일 channel 값에 google이라는 값이 들어가 있으면(ex: google, google-play, google.adwords)
    if "google" in channel:
        # 이를 google이라는 값으로 바꿔줍니다.
        return "google"
    # 만일 channel 값에 naver라는 값이 들어가 있으면(ex: m_naver, pc_naver, m_naverpowercontents)
    elif "naver" in channel:
        # 이를 naver라는 값으로 바꿔줍니다.
        return "naver"
    # 만일 channel 값에 daum이라는 값이 들어가 있으면(ex: m_daum)
    elif "daum" in channel:
        # 이를 daum이라는 값으로 바꿔줍니다.
        return "daum"
    # 만일 channel 값에 apple이라는 값이 들어가 있으면(ex: apple.searchads)
    elif "apple" in channel:
        # 이를 apple이라는 값으로 바꿔줍니다.
        return "apple"
    # 만일 channel 값에 WEB(대문자)이라는 값이 들어가 있으면
    elif "WEB" in channel:
        # 이를 web(소문자)이라는 값으로 바꿔줍니다.
        return "web"
    # 이 모든 것에 해당하지 않으면
    else:
        # 자기 자신을 반환합니다.
        return channel

In [22]:
raw_log["channel(clean)"] = raw_log["channel"].apply(clean_channel)

print(raw_log.shape)

raw_log["channel(clean)"].value_counts()

(434244, 30)

unattributed    270834
web              27639
google           27235
(not set)         2444
naver             1224
daum               966
apple              697
facebook           126
Name: channel(clean), dtype: int64

In [23]:
raw_log["channel(clean)"] = raw_log["channel"].replace("google-play", "google") \
                                              .replace("google.adwords", "google") \
                                              .replace("m_naver", "naver") \
                                              .replace("pc_naver", "naver") \
                                              .replace("m_naverpowercontents", "naver") \
                                              .replace("m_daum", "daum") \
                                              .replace("apple.searchads", "apple") \
                                              .replace("WEB", "web") \


print(raw_log.shape)

raw_log["channel(clean)"].value_counts()

(434244, 30)

unattributed    270834
web              27639
google           27235
(not set)         2444
naver             1224
daum               966
apple              697
facebook           126
Name: channel(clean), dtype: int64